.home {
  /* max-height: fit-content;*/
  height: 100%;
  /* position: relative; */

  /* width: 100%;  */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 4rem; */
  flex-direction: column;

  margin-bottom: 3rem;
}

/* .bg {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
} */
.bg {
  /* max-width: 100vw; */
  width: 100%;
  background-size: 100% 120%;
  background-position: left center;
  /* background-position-y: -15vh; */
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

.b {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(
    transparent,
    rgba(4, 45, 31, 0.208),
    rgba(0, 0, 0, 0.798)
  );
}
.vectors {
  height: 100vh;

  width: 100vw;
}
.vectors img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3%;
  margin: 10px 0;
}
.v3 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -20%;
  left: 0;

  right: 0;
  transform: rotateX(10deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.v4 {
  height: 50%;
  width: 70%;
  overflow-x: hidden;
  position: absolute;
  left: 25%;
  transform: rotateZ(15deg);
  top: 70%;
}

/* 
.v1 {
  height: 30%;
  overflow: hidden;
  width: 50%;
  position: absolute;
  right: 30%;
  top: -10%;
  transform: rotateZ(-130deg);
} */

.details {
  width: 30%;
  /* height: max-content; */
  height: auto;
  position: absolute;
  padding: 1rem 3rem 0 1rem;
  margin-left: 10px;
  top: 20%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
}
.details h4 {
  font-size: 20px;
  font-family: gennorm;
  margin-bottom: 1rem;
  letter-spacing: 0.8px;
  color: var(--lightBlack, #121212);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.details h1 {
  color: var(--black, #313131);
  font-family: genbold;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
.details h1 span {
  color: var(--error);
  font-family: genbold;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
}
.details p {
  align-self: stretch;
  color: var(--lightBlack, #515151);
  font-family: gennorm;
  font-size: 16px;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 100%;
}
.icons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
.icons img {
  margin-right: 0.5rem;
  width: 50%;
}
/* .main {
  background-color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;

  margin-bottom: 4em;
  position: absolute;

  top: 100%;
}  */
.motives {
  background-color: var(--white);
  width: 100%;
  display: flex;
  padding: 24px;
  margin-bottom: 4em;
  justify-content: center;

  gap: 30px;
}

.article {
  border-radius: 8px;
  border: 1px solid var(--fresh);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.342);
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  flex: 1 0 0;
  font-family: gennorm;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article i {
  font-size: 2rem;
  border: 2px;
}

.article:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.342);
}
@media (max-width: 768px) {
  .bg {
    height: auto;
  }

  .vectors {
    display: none; /* Hide the vector images on smaller screens */
  }

  .details {
    width: 100%; /* Make details take full width on smaller screens */
    padding: 1rem;
    text-align: center;
    top: 50%; /* Center the details vertically */
    transform: translate(0, -50%);
  }
}

/* Add responsive styles for screens larger than 768px (e.g., tablets and desktops) */
@media (min-width: 769px) {
  .vectors img {
    display: block; /* Show vector images on larger screens */
  }
  .details h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 768px) {
  .home {
    margin-bottom: 6rem;
  }
  .bg {
    height: auto;
    width: 100%;
  }
  .details h1 {
    font-size: 2rem;
  }
  .details h1 span {
    font-size: 2rem;
  }
  .vectors img,
  .v3,
  .v4,
  .v1 {
    display: none; /* Hide vector images on smaller screens */
  }

  .details {
    width: 90%;
    padding: 1rem;
    text-align: center;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
  }

  /* Adjust font sizes for smaller screens */
  .details h4 {
    font-size: 18px;
  }

  /* .details h1 {
    font-size: 32px;
  } */

  .details p {
    font-size: 12px;
  }
  .icons img {
    width: 30%;
  }
}
