.icon-rows {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  flex-direction: column;
}
.icon-rows h2 {
  color: var(--error);
  font-size: 28px;
  font-family: genbold;
}

.icon-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.icon {
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.icon img {
  display: block;
  margin-bottom: 10px;
  width: 150px;
}

.icon-name {
  font-size: 1.2rem;
  display: none;
}

.icon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  border-radius: 10px;
}

.icon:hover .icon-name {
  display: block;
  font-size: 1.2rem;
}
