.stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8rem;
}
.stories h1 {
  text-align: center;
  font-size: 2rem;
  font-family: genbold;
  color: var(--success);
}
.success-stories-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 90%;
}

.success-story-card {
  display: flex;

  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  font-family: gennorm;
  color: var(--b);
  transition: 0.3s ease;
}
.success-story-card:hover {
  border-radius: 8px;
  border: 1px solid var(--fresh);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.474);
  padding: 3px 2px;
  gap: 10px;
  margin-top: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.user-link {
  margin-top: 10px;
  color: var(--success);
}
